<div class="main">
  
  <section class="static-content">
    <p>This area remains unchanged and the page doesn't refresh. Click button to see SPA in action!</p>
    <p><button class="btn-all">Show All records</button></p>
    <p><button class="btn-create">Create a record</button></p>
  </section>
  
  <p>The area below is a template and will change in a 'single page manner', without refreshing the whole page.</p>
  
  <section class="spa-container">Main Container</section>

</div>