<p><u><b>Create A record</b>:</u></p>

<form class="create-form">
  <input type="text" name="first_name" id="first_name" placeholder="First Name">
  <input type="text" name="last_name" id="last_name" placeholder="Last Name">
  <input type="text" name="age" id="age" placeholder="Age Name">
  <input type="submit" value="Create!">
</form>