<span class="record">  
  First: <%= record.get('first_name') %> -
  Last:  <%= record.get('last_name')  %> -
  Age:   <%= record.get('age') %> - 
  <button class="btn-delete">Delete record</button>
</span>
<br/> <br/>