.main{
  width: 50%;
  margin: 0 auto;
}

.static-content{
  background-color: #ccc;
  padding: 10px;
}

.spa-container{
  background-color: lighten(blue, 40%);
  padding: 10px;
}

.record{
  display: inline-block;
  padding: 5px;
  cursor: pointer;

  &:hover{
    background-color: white;
  }

  &.for-deletion{
    background-color: pink;
  }
}

.btn-delete{
  display: none;
}